.body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 4px 48px;
}

.header ul {
    display: flex;
    gap: 16px;
}
.header li {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100;
    list-style-type: none;
}

.first-block {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 24px 48px;
}

.first-block-info {
    display: flex;
    flex-direction: column;
    margin: 24px 48px;
}

.first-block img {
    height: 200px;
    width: 900px;
    margin: 48px;
}

.main-title {
    color:#F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.button {
    background-color: #3882f6;
    font-weight: bold;
    border-radius: 5px;
    margin: 8px 0px;
    padding: 8px 24px;
    align-self: flex-start;
}

.second-block {
    display: flex;
}

.third-block {
    display: flex;
}

.fourth-block {
    display: flex;
}

.footer {
    display: flex;
}