.body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 4px 48px;
}

.header ul {
    display: flex;
    gap: 16px;
}
.header li {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100;
    list-style-type: none;
}

.first-block {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 24px 48px;
}

.first-block-info {
    display: flex;
    flex-direction: column;
    margin: 24px 48px;
}

.first-block img {
    height: 200px;
    width: 900px;
    margin: 48px;
}

.main-title {
    color:#F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.button {
    background-color: #3882f6;
    font-weight: bold;
    border-radius: 5px;
    margin: 8px 0px;
    padding: 8px 24px;
    align-self: flex-start;
}

.second-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 24px;
}

.second-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    margin: 16px 0px;
}

.item-list {
    display: flex;
}

.item-card {
    height: 200px;
    width: 200px;
    margin: 24px;
    padding: 0px;
    text-align: center;
}

.item-card img {  
    height: 150px;
    width: 150px;  
    border-radius: 10px;
    border: 5px solid #3882f6;
}

.third-block {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
}

.third-block p {
    width: 725px;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.third-block div {
    color: #1F2937;
    font-size: 24px;
    font-weight: bolder;
    align-self: flex-end;
}

.fourth-block {
    background-color: #3882f6;
    color:#F9FAF8;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px 128px;
}

.fourth-container { 
    display: flex;
    flex-direction: column;
    padding: 24px 48px;
}

.fourth-title {
    font-size: 24px;
    font-weight: bolder;
}

.fourth-button {
    border-radius: 5px;
    border: 2px solid #F9FAF8;
    margin-right: 128px;
    padding: 5px 20px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}