.body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 4px 48px;
}

.header ul {
    display: flex;
    gap: 16px;
}
.header li {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100;
    list-style-type: none;
}

.first-block {
    display: flex;
}

.first-block {
    display: flex;
}

.first-block {
    display: flex;
}

.first-block {
    display: flex;
}

.footer {
    display: flex;
}